#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with epics -Sepicsmake --parallel

override_dh_install:
	dh_install --fail-missing
	install -d debian/epics-stream-dev/usr/lib/epics/configure/rules.d
	cp debian/50stream-pcre.make debian/epics-stream-dev/usr/lib/epics/configure/rules.d
